{
	"mail": {
		"host": "smtp.gmail.com",
		"port": 587,
		"secure": false,
		"user": "",
		"pass": ""
	},
	"recipients": [
		"mail@example.com"
	],
    "searches": [
		{
    		"url": "https://geizhals.at/?cat=hde7s&xf=1654_heliumgef%FCllt~960_5&asuch=&bpmin=&bpmax=&v=e&hloc=at&hloc=de&hloc=pl&hloc=uk&hloc=eu&plz=&dist=&mail=&sort=r&bl1_id=30&togglecountry=set",
    		"name": "HDDs",
    		"targetPrice": 0,
    		"targetUnitPrice": 0
        }
    ]
}
